{% extends 'account/base.html' %}

{% load crispy_forms_tags %}  

  {% block breadcrumb %}
      <a class="btn btn-primary" href="{% url 'LAdmin' %}"><i
      class="fas fa-backward"></i> Back</a>
  {% endblock breadcrumb %}
    {% block title%}
    <h1>Update Setting</h1>
    {% endblock title %}
    {% block content%}
    {% if messages %}
     {% for message in messages %}
       <div class="alert alert-dismissible alert-success">
         <button type="button" class="close" data-dismiss="alert">
         ×
         </button>
         <strong>{{message}}</strong>
       </div>
    {% endfor %}
   {% endif %}
    <form action="#" method="POST" enctype="multipart/form-data">
      
     {% csrf_token %}
     {{form|crispy}}
     
    
     <button type="submit" class="btn btn-primary"><i class="fas fa-edit"></i> Submit Changes</button>
   </form>
   {% endblock content%}

